/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



.content #leftHome {
    width: 755px;
    height: 472px;
    float: left;
}

.content {
    width: 1000px;
    height: 468px;
    display: table;
    margin: 0 auto;
}

.content #leftHome .box {
        width: 220px;
        height: 366px;
        float: left;
        margin: 0 0 0 23px;
        border-bottom: #CCC solid 3px;
        background-image: url(../images/bg-box-home.jpg);
        background-position: 0 135px;
        background-repeat: no-repeat;
}

.rowe {
    margin-right: -15px;
    margin-left: -15px;
}


#cphConteudo_pnlNumeros {
    box-sizing: content-box;
}

#bne_numeros {
    margin: 48px 8px;
    display: flex;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
    background-color: #546e7a;
    border-radius: 4px;
}

    #bne_numeros > div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #546e7a;
        padding: 24px 16px !important;
        flex-direction: column;
        width: 33.3%;
    }

        #bne_numeros > div:nth-child(even) {
            background-color: #78909c;
        }

        #bne_numeros > div:first-child {
            border-radius: 4px 0 0 4px;
        }

        #bne_numeros > div:last-child {
            border-radius: 0 4px 4px 0;
        }

    #bne_numeros i {
        color: #ffffff;
        margin-bottom: 8px;
    }

    #bne_numeros h2 {
        color: #ffffff;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 4px;
        font-family: 'Roboto', sans-serif !important;
    }

    #bne_numeros h6 {
        color: rgba(255,255,255, .54);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Roboto', sans-serif !important;
    }




button:disabled {
    background: red;
}

.invalid {
    background: red;
    color: white;
}

.error {
    color: red;
}




#imageMensagem {
    position: absolute;
    left: 550px; /* posiciona a 90px para a esquerda */
    top: 250px; /* posiciona a 70px para baixo */
    width: 290px;
}



#EmpresasContratantes {
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    flex-wrap: wrap;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    padding: 25px 15px;
    text-align: center;
}

    #EmpresasContratantes .empresas-contratantes {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    #EmpresasContratantes .links-empresas .svg-empresa {
        display: inline-flex;
        justify-content: center;
        margin: 15px 0;
        vertical-align: middle;
        width: calc(960px / 5);
    }

    #EmpresasContratantes .links-empresas {
        justify-content: center;
    }

.disclaimer {
    margin: 16px 0 0;
    display: block;
    line-height: 16px;
}

.inner-header {
    width: 1170px;
}



.carousel-faixa {
    position: absolute;
    background-color: #005C90;
    opacity: 0.8;
    top: 60%;
    font-size: 15px;
    text-align: left;
    padding: 0 1.5em;
    color: white;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-faixa h4 {
    font-size: 20px;
    font-size: 20px;
    font-weight: bold;
}


.carousel-faixa h4 {
    font-size: 20px;
    font-weight: bold;
}

.txt-fixed {
    position: absolute;
    top: 45%;
    left: 45%;
}

.fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
}


.color-red {
    color: red;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
