@model Jobs.Models.Profissional

@{
    ViewData["Title"] = "";
}


<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>



<head>
    <script data-ad-client="ca-pub-7000957350875154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>


<section style="position: relative">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/image/rm_rhu_banner01.jpg" alt="Primeiro Slide">
                <div class="carousel-faixa">
                    <h4 class="ng-binding">Seja Bem Vindo</h4>
                    <p class="ng-binding">Cadastre seu currículo para participar dos nossos processos seletivos.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/image/rm_rhu_banner02.jpg" alt="Segundo Slide">
                <div class="carousel-faixa">
                    <h4 class="ng-binding">Cadastre-se</h4>
                    <p class="ng-binding">Cadastre seu currículo para participar dos nossos processos seletivos.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/image/rm_rhu_banner03.jpg" alt="Terceiro Slide">
                <div class="carousel-faixa">
                    <h4 class="ng-binding">Junte-se a nós!</h4>
                    <p class="ng-binding">
                        Nossa equipe precisa de compromentida e engajada em nosso objetivos.
                    </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
</section>
<br />





<div class="row sqs-row" style="padding:120px 44px">
    <div class="col sqs-col-6 span-6">
        <div class="row sqs-row">
            <div class="col sqs-col-5 span-5">
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-97be9fb93f59d8227f84">
                    <div class="sqs-block-content"><h1 style="white-space:  pre-wrap; color:#E15A18;">Tenha agora mesmo o seu currículo  cadastrado aqui no portal.</h1></div>
                </div>
            </div>
            <div class="col sqs-col-1 span-1">
                <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-fbccf9acf5cd0ffc8fc9">
                    <div class="sqs-block-content">&nbsp;</div>
                </div>
            </div>
        </div>
    </div><div class="col sqs-col-6 span-6">
        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-fdc47db15a8209df73f9"><div class="sqs-block-content"><h3 style="white-space: pre-wrap; color:#12395D;font-family: Fjalla One;">várias empresas buscando currículos e profissionais</h3><p style="white-space: pre-wrap;">Não perca tempo!</p><p style="white-space: pre-wrap;">Cadastre agora mesmo seu currículo e confie no seu taco. Temos muitas empresas buscando profissionais qualificados para preencher suas vagas e oportunidades de trabalho.</p><p style="white-space: pre-wrap;">Quem sabe o seu currículo será o próximo a ser selecionado, não é mesmo?</p><p style="white-space: pre-wrap;"><strong>Aqui no Portal JobsHR Talentos suas chances são maiores!</strong></p></div></div>
        <button class="nav-link text-dark btn-primary" onclick="window.location.href='http://www.jobshr.com.br/Home/IncluirProfissional'">Cadastre seu curriculo</button>

    </div>
</div>
<div class="card-group ">
    <div class="card text-center">
        <img class="card-img-top" src="~/image/business-team-meeting-boardroom.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Nossa Missão / Visão</h5>
            <p class="card-text">Atender nossos Clientes, com agilidade, ética e qualidade; contribuindo com seus resultados através das Pessoas que integram suas equipes.Compreender, acompanhar e atender as necessidades dos nossos Clientes, agregando valor ao seu Negócio.</p>
            <p class="card-text"><small class="text-muted">Última atualização há 3 minutos</small></p>
        </div>
    </div>
    <div class="card text-center">
        <img class="card-img-top" src="~/image/professional-smiling-woman.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recrutamento e Seleção</h5>
            <p class="card-text">A JobsHR Brasil tem grande preocupação em captar os melhores profissionais, dentro do perfil solicitado pelos nossos Clientes, com isso agregamos valor ao seu Custo x Benefício. Utilizamos técnicas adequadas em cada processo seletivo.</p>
            <p class="card-text"><small class="text-muted">Última atualização há 3 minutos</small></p>
        </div>
    </div>
    <div class="card text-center">
        <img class="card-img-top" src="~/image/construction-in-progress.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mão de Obra Temporária</h5>
            <p class="card-text">Trabalhamos de acordo com a Lei n º 6.019 e do Decreto Lei nº 73.84, onde o funcionário é contratado por um período de 180 (cento e oitenta) dias, podendo o contrato ser prorrogado por mais 90 dias. Nosso objetivo é assegurar maior comodidade e tempo livre aos nossos Clientes.</p>
            <p class="card-text"><small class="text-muted">Última atualização há 3 minutos</small></p>
        </div>
    </div>
</div>








<div class="container">
    <section id="EmpresasContratantes" class="vg-section empresas-contratantes">
        <div class="empresas-contratantes">
            <h3 class="home-section-title">As melhores empresas contratam aqui</h3>
            <p class="home-section-subtitle">Mais de 3.000 clientes anunciam suas oportunidades de empregos.</p>
            <div class="links-empresas">
                <figure class="svg-empresa">
                    <a href="">
                        <img alt="Itau" class="itau" src="~/image/logo-itau.svg" style="width:64px">
                    </a>
                </figure>

                <figure class="svg-empresa">
                    <a href="">
                        <img alt="TIM" class="tim" src="~/image/logo-tim.svg" style="width:106px">
                    </a>
                </figure>

                <figure class="svg-empresa">
                    <a href="">
                        <img alt="Ipiranga" class="ipiranga" src="~/image/logo-ipiranga.svg" style="width:106px" />
                    </a>
                </figure>

                <figure class="svg-empresa">
                    <a href="">
                        <img alt="Bunge" class="bunge" src="~/image/logo-bunge.svg" style="width:106px">
                    </a>
                </figure>

                <figure class="svg-empresa">
                    <a href="">
                        <img alt="Amil" class="amil" src="~/image/logo-amil.svg" style="width:106px">
                    </a>
                </figure>

                <figure class="svg-empresa">
                    <a href="">
                        <img alt="Votorantim" class="votorantim" src="~/image/logo-votorantim.svg" style="width:106px">
                    </a>
                </figure>

                <figure class="svg-empresa">
                    <a href="">
                        <img alt="Suzano" class="suzano" src="~/image/logo-suzano-new.svg" style="width:106px">
                    </a>
                </figure>

                <figure class="svg-empresa">
                    <a href="">
                        <img alt="C&amp;A" class="cea" src="~/image/logo-CeA.svg" style="width:106px">
                    </a>
                </figure>

                <figure class="svg-empresa">
                    <a href="">
                        <img alt="C&amp;A" class="lojas-americanas" src="~/image/logo-lojas-americanas.svg" style="width:106px">
                    </a>
                </figure>

                <figure class="svg-empresa">
                    <a href="">
                        <img alt="Coca Cola" class="coca-cola" src="~/image/logo-coca-cola.svg" style="width:106px">
                    </a>
                </figure>
            </div>

            <div id="cphConteudo_pnlNumeros">

                <div id="bne_numeros">
                    <div>
                        <i class="fa fa-file-text fa-3x"></i>
                        <h2>
                            17.079.003
                        </h2>
                        <h6>Currículos</h6>
                    </div>
                    <div>
                        <i class="fa fa-window-maximize fa-3x"></i>
                        <h2>
                            445.877
                        </h2>
                        <h6>Vagas</h6>
                    </div>
                    <div>
                        <i class="fa fa-industry fa-3x"></i>
                        <h2>
                            109.789
                        </h2>
                        <h6>Empresas</h6>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

    <div style="background-color: #E15A18;">
        <div class="container">


            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">

                <!-- Facebook -->
                <a class="fb-ic">
                    <i class="fab fa-facebook-f white-text mr-4"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                    <i class="fab fa-twitter white-text mr-4"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                    <i class="fab fa-google-plus-g white-text mr-4"> </i>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                    <i class="fab fa-linkedin-in white-text mr-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                    <i class="fab fa-instagram white-text"> </i>
                </a>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Empresa</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Carreira</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Notícias</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Sustentabilidade</a>
                </p>


            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">
                    Produtos
                </h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Busca de produtos (EN)</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Cross Industry Solutions</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Inovação (EN)</a>
                </p>


            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contato</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> São Paulo, SP
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> postmaster@jobshr.com.br
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <!-- Copyright -->

</footer>
<!-- Footer -->