@model IEnumerable<Jobs.Models.Profissional>

@{
    ViewData["Title"] = "MensagemProfissional";
}




<div class="jumbotron">
    <h1 class="display-4">Muito bem! Parabéns</h1>
    <p class="lead">Aêêê! Você acabou de se cadastrar para o nosso banco de talentos. Aguarde a qualquer momento alguma empresa entrará em contato para oferecer novas oportunidades.</p>
    <hr class="my-4">
    <p>Sempre que precisar, estaremos a disposição através do nosso Email: <a href="mailto:postmaster@jobshr.com.br" />postmaster@jobshr.com.br</p>
    <p>JobsHR</p>
    <a class="btn btn-primary btn-lg" href="Index" role="button">Inicio</a>
</div>

