
@{
    ViewData["Title"] = "QuemSomos";
}






<div class="pg-sobre-nos">

    <div class="tituloPagina">
        <h1>
            Sobre Nós
        </h1>
    </div>
    <div class="float-image">
        <img src="~/image/sobre-nos.png" alt="Empregos" class="image-float" style="width:100%">
    </div>
    <div class="geralSomos">
        <div class="tituloSomos first"> Grande como o seu futuro profissional</div>
        <div class="textoSomos">
            <p>
                Atuando desde Julho de 2015, o site <strong>JobsHR</strong> é um dos maiores
                portais de empregos e carreiras do Brasil: são 4 anos trabalhando para promover
                o encontro do candidato com a vaga ideal.
            </p>
            <p>
                O <strong>JobsHR</strong> conta hoje com mais de <strong>
                    4.1 milhões
                    de currículos profissionais,
                </strong> uma margem de <strong>
                    170 mil
                    empresas cadastradas.
                </strong> Uma ótima fonte tanto para
                quem visa recrutar um novo colaborador, quanto para quem busca uma nova oportunidade
                no mercado de trabalho.
            </p>

        </div>
        <div class="tituloSomos"> Comprometimento com você é a nossa missão </div>
        <div class="textoSomos">
            <p>
                A nossa equipe tem como objetivo <strong>
                    gerar oportunidades de emprego e promover a
                    divulgação do seu currículo.
                </strong>
            </p>
            <p>
                Assim, nossa missão é trabalhar junto a você no alcance de suas maiores e mais importantes
                conquistas profissionais, o orientando através de serviços sérios e transparentes,
                a um preço justo.
            </p>
        </div>
        <div class="tituloSomos">
            A experiência por trás do sucesso
        </div>
        <div class="textoSomos">
            <p>
                O projeto de se criar um site atrelado ao cenário de oportunidades de emprego veio
                da iniciativa de uma das 10 maiores empresas de recrutamento e seleção do país.<br />
            </p>
            <p>
                Com escritórios situados nos estados de São Paulo,
                Rio de Janeiro sua atuação atinge níveis de
                excelência nas áreas de recrutamento e triagem, serviços temporários, terceirização
                de pessoal e administração de estágios, além de contar com divisões especializadas,
                como a Cia. de Telemarketing e a Opinet.net pesquisa de opinião.
            </p>
            <p>
                As duas décadas de experiência do Grupo Performance RH neste segmento dão legitimidade
                ao sucesso da equipe do <strong>JobsHR</strong> e expressa o diferencial
                da funcionalidade de sua plataforma, que promove a aproximação de candidatos e recrutadores
                dos quatro cantos do Brasil.
            </p>
        </div>
    </div>
</div>
