<!DOCTYPE html>
<html lang="en">

<head>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->

</head>

<body id="page-top">

    <!-- Navigation -->


    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>
                Fale Conosco
            </h1>
            <p class="lead">Uma empresa inspirada pela vida</p>
        </div>
    </header>



    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>
                        Atendimento Online
                    </h2>
                    <p class="lead">
                        Estamos prontos para falar com você na nossa Central de Relacionamentos com Clientes. Use o chat para tirar suas dúvidas, fazer sugestões, elogios ou reclamações com um de nossos especialistas.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>
                        Formulário Eletrônico (E-mail)
                    </h2>
                    <p class="lead">
                        Preencha o formulário eletrônico de atendimento e mande um e-mail para nossa Central de Relacionamento. E não se preocupe: todos os formulários são respondidos o mais rápido possível.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>
                        Importante
                    </h2>
                    <p class="lead">
                        Horário do Call Center: Segunda à Sexta das 08h às 18h. Sábado das 08h às 14h. **Horário do Atendimento Online: Segunda à Sexta das 08hs às 18hs e aos sábados das 08hs às 14hs.
                    </p>
                </div>
            </div>
        </div>
    </section>

    @*<!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
            </div>
            <!-- /.container -->
        </footer>*@

    <!-- Bootstrap core JavaScript -->

    <!-- Plugin JavaScript -->

    <!-- Custom JavaScript for this theme -->

</body>

</html>